.event-range-padding .ant-picker-range {
  padding: 7px;
}
.dark .ant-statistic-content-value-int {
  color: white;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-badge.ant-badge-status
  .ant-badge-status-dot {
  width: 29px !important;

  border-radius: 2px !important;
}

.dark .ant-pagination-item-link svg {
  fill: white;
}
.dark
  :where(.css-dev-only-do-not-override-qgg3xn).ant-table-wrapper
  .ant-table-row-expand-icon::before,
:where(.css-dev-only-do-not-override-qgg3xn).ant-table-wrapper
  .ant-table-row-expand-icon::after {
  background: black !important;
}

.ant-drawer .ant-drawer-body {
  padding: 0px;
}

.dark .ant-tabs-tab {
  color: white;
  opacity: 0.8;
}

.dark .ant-tabs-nav-list div[aria-selected="true"] {
  color: black !important;
}

.dark .ant-empty-description {
  color: white;
}
.dark .ant-list-item {
  color: white;
  border-block-end-color: rgba(248, 246, 246, 0.16);
}
.dark .ant-pagination-item:not(.ant-pagination-item-active) a {
  color: white !important;
}
.dark .ant-pagination-item-ellipsis {
  color: white !important;
}

:where(.css-dev-only-do-not-override-qgg3xn).ant-switch:hover:not(
    .ant-switch-disabled
  ) {
  background: rgba(0, 0, 0, 0.45) !important;
}
