.event-range-padding .ant-picker-range {
  padding: 7px;
}
.dark .ant-statistic-content-value-int {
  color: white;
}

#control-page .ant-badge-status-dot {
  width: 6px !important;

  border-radius: 2px !important;
}

.dark .ant-table-cell-row-hover {
  background-color: #4b576671 !important;
}
.dark .ant-pagination-item-link svg {
  fill: white;
}
.dark
  :where(.css-dev-only-do-not-override-qgg3xn).ant-table-wrapper
  .ant-table-row-expand-icon::before,
:where(.css-dev-only-do-not-override-qgg3xn).ant-table-wrapper
  .ant-table-row-expand-icon::after {
  background: black !important;
}

.ant-drawer .ant-drawer-body {
  padding: 0px;
}

.dark .ant-select-selector {
  background-color: rgb(36 48 63 / var(--tw-bg-opacity)) !important;
  color: rgb(222 228 238 / var(--tw-text-opacity)) !important;
}
.dark .ant-tabs-tab {
  color: white;
  opacity: 0.8;
}

.dark .ant-tabs-nav-list div[aria-selected="true"] {
  color: black !important;
}

#scrollableDiv {
  height: calc(100vh - 200px) !important;
}

.ant-list-items li:hover {
  background-color: #45454587;
}

.ant-list-items li.active {
  background-color: #8b808087;
}
